<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      <img alt="logo" height="40" src="assets/imgs/logo.png">
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <p>
    <small>
      Please input your wallet private key to proceed. Key will be saved on your device.
    </small>
  </p>
  <p>Private key: <span class="dimmed pull-right">required</span></p>
  <ion-grid>
    <ion-row>
      <ion-col class="AddressTo">
        <ion-input type="text" clearInput [(ngModel)]="privateKey" id="privateKey"></ion-input>
      </ion-col>
      <ion-col class="AddressToBtn text-right">
        <a (click)="qrScanerPage()">
          <ion-icon name="qr-scanner"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

  <section *ngIf="showRegistration">
    <p>
      <small>
        Registration:
      </small>
    </p>

    <p>
      <ion-input type="text" placeholder="Email" clearInput [(ngModel)]="user.email" id="email"></ion-input>
    </p>
    <p>
      <ion-input type="text" placeholder="Username" clearInput [(ngModel)]="user.name" id="userName"></ion-input>
    </p>
    <p>
      <ion-input type="text" placeholder="Country" clearInput [(ngModel)]="user.country" id="country"></ion-input>
    </p>

    <ion-list>
      <ion-item>
        <ion-label>Merchant account</ion-label>
        <ion-checkbox [(ngModel)]="user.merchant"></ion-checkbox>
      </ion-item>
    </ion-list>
  </section>

  <button ion-button block (click)="onSubmit()" [disabled]="!privateKey || isLoading">
    <span *ngIf="!isLoading">Submit</span>
    <ion-spinner name="bubbles" color="white" *ngIf="isLoading"></ion-spinner>
  </button>
</ion-content>
