<ion-header>
  <ion-navbar>
    <ion-title>Buy by {{currency}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <p>
    Send {{currency}} to the address bellow using mobile wallet and get Member Package {{pack}}!
  </p>
  <p>
    The price for the package is
    <strong>{{amount}}</strong> {{currency}}.
  </p>

  <section *ngIf="loading">
    <ion-spinner name="bubbles"></ion-spinner>
  </section>

  <section *ngIf="!loading">
    <p>
      <strong>{{currency}} address:</strong>
    </p>
    <ion-list>
      <ion-item>
        <ion-input type="text" id="BTCaddress" [(ngModel)]="addressBtc"></ion-input>
        <button ion-button clear color="dark" type="button" item-right (click)="copy()">
          <ion-icon name="copy"> </ion-icon>
        </button>
      </ion-item>
    </ion-list>

    <qrcode class="qrcode" [qrdata]="'Your QR code data string'" [size]="256" [level]="'M'"></qrcode>

    <p class="text-center">
      <small>Please mind blockchain transactions and confirmations speed.</small>
    </p>
  </section>

</ion-content>