page-home {
  header {
    text-align: center;
    color: white;
    background-color: cornflowerblue;
    background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    background-image: url("/assets/imgs/juskteez-vu-3824-unsplash.jpg");
    background-size: 300%;
    background-position: top center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.5);
  }
  .hidden {
    visibility: hidden;
  }
}
