<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>history</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items | async">
      <ion-icon name="arrow-round-down" color="primary" item-start *ngIf="item.income"></ion-icon>
      <ion-icon name="arrow-round-up" color="secondary" item-start *ngIf="!item.income && !item.error"></ion-icon>
      <ion-icon name="close-circle" color="danger" item-start *ngIf="item.error"></ion-icon>
      <h2>{{item.date | date:'medium'}}</h2>
      <p>
        <small *ngIf="item.income">From: {{item.from}}</small>
        <small *ngIf="!item.income">To: {{item.to}}</small>
      </p>
      <h2 item-end>
        <span *ngIf="!item.income">-</span>
        {{item.amount || 0}}
      </h2>
    </button>
  </ion-list>
</ion-content>