<ion-header>
  <ion-navbar>
    <ion-title>Transactions History</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items | async">
      <ion-icon name="arrow-round-up" color="secondary" item-start *ngIf="item.type === 0"></ion-icon>
      <ion-icon name="arrow-round-down" color="primary" item-start *ngIf="item.type === 1"></ion-icon>
      <ion-icon name="sync" color="primary" item-start *ngIf="item.type === 2"></ion-icon>
      <ion-icon name="close-circle" color="danger" item-start *ngIf="item.type === 3"></ion-icon>
      <h2>{{item.date | date:'medium'}}</h2>
      <p>
        <small *ngIf="item.type === 0">To: {{item.to}}</small>
        <small *ngIf="item.type === 1">From: {{item.from}}</small>
        <small *ngIf="item.type === 2">Exchange: {{item.to}}, status: {{item.status || 'pending'}}</small>
      </p>
      <h2 item-end>
        <span *ngIf="item.type === 0">-</span>
        <span *ngIf="item.type === 2">-</span>
        {{item.amount || 0}}
        <small>{{item.currency}}</small>
      </h2>
    </button>
  </ion-list>
</ion-content>
