<ion-header>

  <ion-navbar>
    <ion-title>Enter PIN</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>
    <small *ngIf="!setPin">
      Please set application PIN code. Key will be stored on device.
    </small>
    <small *ngIf="setPin">
      Please enter application PIN code.
    </small>
  </p>
  <p>PIN:</p>
  <ion-input type="text" pattern="[0-9]*" clearInput [(ngModel)]="pin" id="pin"></ion-input>

  <p>&nbsp;</p>

  <section *ngIf="loading">
    <ion-spinner name="bubbles"></ion-spinner>
  </section>
  <section *ngIf="!loading">
    <button ion-button block (click)="onSetPin()" *ngIf="!setPin">Set PIN</button>
    <button ion-button block (click)="onSubmit()" *ngIf="setPin">Submit</button>
  </section>
</ion-content>