<ion-header>
  <ion-navbar>
    <ion-title>Send</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <p>
    <small>
      In order to transfer tokens you should enter public key of recepient wallet and sum of transfer.
      Tokens will be withdrawed from you current wallet.
    </small>
  </p>

  <p>
    <b *ngIf="merchant && merchant.name">{{merchant.name}}'s </b>
    <span *ngIf="!merchant || !merchant.name">Recepient's</span>
    <span> wallet public key:</span>
  </p>
  <ion-grid>
    <ion-row>
      <ion-col class="AddressTo">
        <ion-input type="text" clearInput [(ngModel)]="addressTo" [disabled]="(merchant && merchant.addr)  || !!nameTo">
        </ion-input>
      </ion-col>
      <ion-col class="AddressToBtn text-right">
        <a (click)="qrScanerPage()">
          <ion-icon name="qr-scanner"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="AddressTo">
        <p>
          or
          <b *ngIf="merchant && merchant.name">{{merchant.name}}'s </b>
          <span *ngIf="!merchant || !merchant.name">recepient's</span> account name: 
        </p>
        <ion-input type="text" clearInput [(ngModel)]="nameTo" [disabled]="(merchant && merchant.addr) || !!addressTo">
        </ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p>Amount, EEC:</p>
  <ion-input type="number" min="1" step="1" placeholder="1" pattern="[0-9]*" [(ngModel)]="amount"
    (ngModelChange)="onChange($event)"></ion-input>

  <p>&nbsp;</p>



  <button ion-button block (click)="onSubmit()" [disabled]="!amount || amount >= max">Submit</button>
</ion-content>
