page-send {
  ion-input {
    border: 1px solid silver;
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    -o-user-select: auto !important;
    user-select: auto !important;
  }
  
  .grid {
    margin: -10px;
  }
  .text-right {
    text-align: right;
    a {
      font-size: 36px;
      color: silver;
    }
  }

  .text-input-ios,
  .text-input-md {
    margin: 0;
    padding: 13px 8px !important;
  }

  .input-cover {
    display: none;
  }
}
