<ion-header>

  <ion-navbar>
    <ion-title>Exchange confirmation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      Send to Address: <b>{{receivingAddress}}</b>
      <span item-end (click)="onCopy()">
        <ion-icon name="copy"></ion-icon>
      </span>
    </ion-item>
    <ion-item>
      Order ID: <b>{{id}}</b>
      <span item-end (click)="onCopy()">
        <ion-icon name="copy"></ion-icon>
      </span>
    </ion-item>
    <ion-item>
      Currency From: <b>{{currencyIn}}</b>
    </ion-item>
    <ion-item>
      Currency To: <b>{{currencyOut}}</b>
    </ion-item>
    <ion-item>
      Amount: <b>{{amount}}</b>
    </ion-item>
    <ion-item>
      Price: <b>{{price}}</b>
    </ion-item>
    <ion-item *ngIf="!!expiresOn">
      Expires On: <b>{{expiresOn.toLocaleString()}}</b>
    </ion-item>
  </ion-list>

  <p *ngIf="!isTransferAvailable">
    <button ion-button block (click)="onSubmit()">Ok</button>
  </p>
  <div *ngIf="isTransferAvailable && !loading"> 
    <button ion-button block (click)="onSubmitTransfer()">Transfer</button>
    <p class="text-center" (click)="onSubmit()">
      <a>I'll send by myself</a>
    </p>
  </div>
  <section *ngIf="loading">
    <ion-spinner name="bubbles"></ion-spinner>
  </section>
</ion-content>
